@import url(https://fonts.googleapis.com/css?family=Syne+Mono); 

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    background-image: url(CoelhoGeek.png);
    background-repeat: no-repeat;
    background-size: contain;
    line-height: 4.2;
}

.title {
    font-family: "Syne Mono";
    font-size: 60px;
    text-align: center;
    color: orange
}

main {
    font-family: 'Syne Mono';
    font-size: 15px;
    text-align: justify;
    color: mediumturquoise;
}

.label {
    font-size: 15px;
    font-weight: bolder;
}

textarea {
    background-color: rgb(158, 158, 158);
    border: 2px solid mediumturquoise;
    border-radius: 6px;
    font-family: "Syne Mono";
    font-size: 15px;
    display: block;
    /* ESTUDAR ESSA PARTE
    margin-top: 0.5em; 
    padding: 1em; 
    */
}

input {
    background-color: rgb(158, 158, 158);
    border: 2px solid mediumturquoise;
    border-radius: 6px;
    font-family: "Syne Mono";
    font-size: 15px;
    display: block;
    width: 100px;
    height: 3px;
    margin-top: 0.5em;
    padding: 1em; 
    

}
.button {
    background-color: mediumturquoise;
    border: 1px solid mediumturquoise;
    border-radius: 6px;
    font-size: 15px;
    text-align: center;
    padding: 0.5em;
    cursor: pointer;
    color: black;

}
.button:hover {
    background-color: black;
    border: 1px solid mediumturquoise;
    color: mediumturquoise;
}

.footer{
    background-color: rgb(43, 41, 41);
    font-family: 'Syne Mono';
    font-weight: bolder;
    font-size: 15px;
    text-align: center;
    color: mediumturquoise;
}